
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- <title>using plain html in pug</title> -->
    <title>#{title}</title>
    style 
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/">about</a></li>
            <li><a href="/">home</a></li>
            <li><a href="/">home</a></li>
        </ul>
    </nav>
    | #{content}<!-- this is plain text -->

    <form action="/"  method="post"  id="contact">
        <input type="text" name="namee" id="namee" placeholder="enter yout name">
        <input type="text" name="age" id="age" placeholder="enter yout age">
        <input type="text" name="gender" id="gender" placeholder="enter yout gender">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address"></textarea>
        
        <textarea name="more" id="more" cols="30" rows="10" placeholder="more about"></textarea>
        <button>submit</button>
    </form>
</body>
</html>