*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
    height: 100vh;
}
.startmenu
{
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center;
}
.startmenu img{
    border-radius: 8px;
}
.taskbar
{
    display: flex;
    width: 100%;
    background-color:whitesmoke;
    position: absolute;
    bottom: 0;
    justify-content: center;
    z-index: 110;
}
.right
{
    position: absolute;
    right: 0;
    margin: 0px 0px;
    height: 85%;
}