<%- include('partials/header')     %>
<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="dispaly-3">secrets</h1>
        <p class="lead">don't keep your secrets, share them aninymously</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">register</a>
        <a class="btn btn-light btn-lg" href="/login" role="button">login</a>
    </div>

</div>

<%- include('partials/footer') %>