<%- include('partials/header')     %>
<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="dispaly-3">you we discovered my secrets</h1>
        
      <%  userwithsecret.forEach(function(user){ %>
            <p class="lead"><%= user.secret %></p>
      <%  })  %>
        
        <hr>
        <a class="btn btn-light btn-lg" href="/logout" role="button">logout</a>
        <a class="btn btn-light btn-lg" href="/submit" role="button">submit a secret</a>
    </div>

</div>


<%- include('partials/footer') %>