doctype html 
html 
    head 
        title savani
        block scripts 
        block style 
    body 
        nav#navbar
            ul
                div#logo 
                    img(src="/static/1.jpg", alt="logo")
                    | SP
                li #[a(href="/") home] 
                li #[a(href="/")  about] 
                li #[a(href="/")  services] 
                li #[a(href="/")  class info] 
                li #[a(href="/contact")  contact us]
        block content 
        footer#footer 
            | copyright 2019 harrydanceacademy.com |all right reserved