@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
margin:  0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
#logo
{
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 14px;
    margin-right: 41px;
}
#logo img{
    height: 43px;
filter: invert(1 );
}
#navbar
{
    background-color:black;
    color: white;
    padding: 13px 14px;
}
#navbar ul{
display: flex;
flex-direction: row;
align-items: center;
}
#navbar li{
 list-style: none;
}
#navbar li a{
    color: white;
    font-size:20px;
    text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: red;
}
#introsection{
height: 300px;
color: white;
display: flex;
flex-direction: column;
padding-bottom: 40px;
justify-content: center;
align-items: center;
font-size: 34px;
height: 425px;
background: center / cover no-repeat url(/static/download.jpg);
background-color: darkgoldenrod;
}
#sponserssection
{
    height: 200px;
    background-color: aqua;
}
.card{
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    width: 27%;
    margin: 23px 20px;
    height: 109px;
}
#sponserssection h3
{
    text-align: center;
    padding-top: 12px;
}
#sponsers{
    height: 155px;
    max-width: 750px;
    margin-left: 400px;
    justify-content: center;    
    align-items: center;
}
.spimage
{
    height: 80%;
    margin: 20px;
}
#missionsection{
    height: 226px;
    width: 67%;
    margin: auto;
}
#missionsection h2{
    text-align: center;
    font-size: 34px;
    padding-top: 10px;
}
.card h3{
    text-align: center;
    margin: 12px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img img{
    height:39px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-content{
    font-size: 14px;
}
#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
    background-color: blue;
}
